.cla-validity {
    background-repeat: no-repeat;
    padding-left: 48px;
    min-height: 48px;
    border: .2em solid;
    border-radius: .5em;
    vertical-align: middle;
    
}

.cla-is-valid {
    background-image: url(images/Green_Checkmark.png);
    background-color: lightgreen;
    border-color: lightgreen;

}

.cla-not-valid {
    background-image: url(images/Red_Minus.png);
    background-color: lightpink;
    border-color: lightcoral;
}
