@model Outercurve.Projects.ViewModels.Parts.EditMoreSiteSettingsViewModel
<fieldset>
    <legend>@T("Messaging")</legend>
    <div>
        @Html.LabelFor(m => m.Part.SiteOwner, T("Site Owner"))
        @Html.TextBoxFor(m => m.Part.SiteOwner)
    </div>
</fieldset>
